*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

html,
body {
  height: 100%;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
label {
  font-size: 2.5rem;
  padding-block: 1rem;
}

input {
  margin: 1.5rem;
}
